.home-link
{
	color: $aqua;
	text-decoration: none;
}

.home-link
{
	color: $white;
	font-weight: bold;
}

h1, h2, h3, h4
{
	color: $black;
	margin: 0;
	padding: 0;
}

h1
{
	font-weight: bold;
	font-size: 2em;
	margin-bottom: .75em;
}

h2
{
	font-weight: 900;
	font-size: 1.5em;
	margin-bottom: .75em;
	color: $aqua;
}

h3
{
	font-size: 1.25em;
	line-height: 0;
	margin-top: 1.75em;
	color: $blue;
}

a
{
	text-decoration: none;
	color: $aqua;

	&:hover
	{
		color: $aqua - 25;
	}
}

.icon-reference
{
	margin-bottom: 1em;
}

li
{
	padding: 0;
	margin-bottom: .25em;
}

.table-of-contents
{
	list-style-type: none;
	padding: 0;
}

.slide-details
{

	padding-left: 1em;
}